<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Herb & Heal</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plant.css') }}"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <script src="{{ url_for('static', filename='localStorageUtil.js') }}"></script>
  </head>
  <body>
    <script>
      removeUserId();
    </script>
    {% include 'menu.html' %}

    <!-- Visitor Landing Page -->

    <div class="visitor-landing">
      <div class="container">
        <h2 class="text-center" style="color: rgb(235, 10, 10)">
          {{ message }}
        </h2>

        <h1>Welcome to the Herb & Heal</h1>
        <p>
          Explore a wide range of plants, their benefits, and detailed
          information.
        </p>
      </div>
    </div>

   <!-- Plants Section -->
<div class="container mt-5" id="plants-section">
  <div class="row">
    {% for plant in approved_plants %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{{ url_for('static', filename='upload/plants/' + plant.image) }}"
          class="card-img-top"
          alt="{{ plant.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ plant.name }}</h5>
          <p class="card-text">
            {{ plant.description }}
          </p>
          <p class="card-text"><strong>Category:</strong> {{ plant.category.category_name }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
